name: ensure-python-gmsh
on: [push, pull_request]
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install PyYAML
        run: python3 -m pip install --upgrade pip pyyaml
      - name: Verify python-gmsh will build for selected occt
        run: python3 recipe/ensure_python_gmsh.py